<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server via NGRX.</p>

<ng-container *ngIf="data$ | async as forecasts">

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody id="beforeList">
    <tr *ngFor="let forecast of forecasts">
      <td name="date">{{ forecast.date }}</td>
      <td name="tempC">{{ forecast.temperatureC }}</td>
      <td name="tempF">{{ forecast.temperatureF }}</td>
      <td name="summary">{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
<input type="number" #countOfForecasts/>
<button (click)="getForecasts(countOfForecasts.value)">Request a number of forecasts</button>
</ng-container>
